* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --cream: #F5F2E7;
    --beige: #E8E3DA;
    --black: #282424;
    --blue: #A4CFE8;
    --coral-1: #EECDAF;
    --coral-2: #F0AD83;
    --grey: #989389;
    --rose: #601919;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 12%;
    background: var(--cream); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo {
    color: var(--beige); 
    font-size: 2.5rem;
    font-weight: 600;
    transition: 0.3s ease;
}

#logo:hover {
    color: var(--coral-2); 
}


#color {
    color: var(--coral-2); 
}

#name {
    color: var(--coral-1); 
}

.navbar a {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--beige); 
    margin-left: 3rem;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: var(--coral-2); 
    border-bottom: 3px solid var(--coral-2); 
}

section {
    min-height: 100vh;
    padding: 10rem 12% 2rem;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.home-content {
    max-width: 800px;
}

.home-content h3 {
    font-size: 3.2rem;
}

.home-content h1 {
    font-size: 5.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.home-content p {
    font-size: 1.2rem;
}

.img-box img {
    width: 35vw;
    object-fit: cover;
    border-radius: 50%;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: var(--blue);
}

.about-img img{
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    width: 35vw;
    border-radius: 50%;
    
}

.about-content h2{
    text-align: left;
    color: var(--black);
    font-size: 42px;
}

.about-content h3{
    color: var(--black);
    font-size: 62px;
}

.about-content p{
    color: var(--black);
    font-size: 20px;
    margin: 2em 0 3em;
}

.project-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 8%;
    background: var(--cream);
}

.project-content h2 {
    text-transform: uppercase;
    color: var(--black);
    font-size: 142px;
}
.project-list{
    grid-column-gap: 4em;
    grid-row-gap: 4em;
    flex-flow: wrap;
    display: flex;
}
